.miw-60 {
  min-width: 60px;
}
.miw-80 {
  min-width: 80px;
}
.miw-90 {
  min-width: 90px;
}
.miw-120 {
  min-width: 120px;
}

.maw-140 {
  max-width: 140px;
}
.cursor-pointer {
  cursor: pointer;
}

.font-size-14px {
  font-size: 14px;
}

.loading-spinner {
  position: fixed;
  background-color: rgba(0,0,0,.5);
  z-index: 1234;
  width: 100%;
}
