.miw-60 {
  min-width: 60px;
}
.miw-80 {
  min-width: 80px;
}
.miw-90 {
  min-width: 90px;
}
.miw-120 {
  min-width: 120px;
}

.maw-140 {
  max-width: 140px;
}
.maw-750 {
  max-width: 750px !important;
}
.cursor-pointer {
  cursor: pointer;
}

.font-size-14px {
  font-size: 14px;
}

.loading-spinner {
  position: fixed;
  background-color: rgba(0,0,0,.5);
  z-index: 1234;
  width: 100%;
}

.w-sm {
  width: 100px;
}
.w-md {
  width: 200px;
}
.w-lg {
  width: 400px;
}
.w-xlg {
  width: 600px;
}

.fr-1 {
  flex: 1;
}